---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/location_mapper/42.33141,-71.099396?key=<TRIPADVISOR_API_KEY>-mapper&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "location_id": "4225110",
              "name": "Chacho's Pizza & Subs",
              "distance": "0.06030451901147055",
              "bearing": "north",
              "address_obj": {
                "street1": "1502 Tremont St",
                "street2": null,
                "city": "Boston",
                "state": "Massachusetts",
                "country": "United States",
                "postalcode": "02120",
                "address_string": "1502 Tremont St, Boston, MA 02120"
              }
            },
            {
              "location_id": "3398229",
              "name": "Wan Convenience Store",
              "distance": "0.060957541678562904",
              "bearing": "north",
              "address_obj": {
                "street1": "1508 Tremont St",
                "street2": "between Burney St & Sewall St, Roxbury Crossing",
                "city": "Boston",
                "state": "Massachusetts",
                [...]
