---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/location/89575?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d89575-m23924-Boston_Harbor_Hotel-Boston_Massachusetts.html",
          "reviews": [
            {
              "id": "251502543",
              "lang": "en",
              "location_id": "89575",
              "published_date": "2015-01-28T16:04:24-0500",
              "rating": 3,
              "helpful_votes": "1",
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s3.0-23924-5.png",
              "url": "http://www.tripadvisor.com/ShowUserReviews-g60745-d89575-r251502543-Boston_Harbor_Hotel-Boston_Massachusetts.html#review251502543",
              "trip_type": null,
              "travel_date": null,
              "text": "So apparently if you book this room through Hotwire, you're getting a crappy location in the hotel. The first room they put us in was behind the elevator shaft. I insisted we be moved. Later that in...",
              "user": {
                "username": "Lisa M",
                "user_location": {
                  "id": "60864",
                  "name": "New Orleans, Louisiana"
                }
              },
              "title": "Up all night with ambulance sirens.",
              "is_machine_translated": false
            },
            {
              "id": "251270620",
              "lang": "en",
              "location_id": "89575",
              "published_date": "2015-01-27T11:45:23-0500",
              "rating": 5,
              "helpful_votes": "0",
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s5.0-23924-5.png",
              "url": "http://www.tripadvisor.com/ShowUserReviews-g60745-d89575-r251270620-Boston_Harbor_Hotel-Boston_Massachusetts[...]
