---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/location/150807/attractions?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g150807-d3909552-m23924-Canada_Transfers_Private_Tours-Cancun_Yucatan_Peninsula.html",
              "attraction_types": [
                {
                  "localized_name": "Private tours",
                  "name": "private tours"
                }
              ],
              "web_url": "http://www.tripadvisor.com/Attraction_Review-g150807-d3909552-Reviews-m23924-Canada_Transfers_Private_Tours-Cancun_Yucatan_Peninsula.html",
              "percent_recommended": 99,
              "location_string": "Cancun, Yucatan Peninsula",
              "location_id": "3909552",
              "write_review": "http://www.tripadvisor.com/UserReview-g150807-d3909552-m23924-Canada_Transfers_Private_Tours-Cancun_Yucatan_Peninsula.html",
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/3909552?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "Av Nader Edificio Marruecos",
                "street2": "Mza 3 , Lote 22 SM 2",
                "city": "Cancun",
                "state": "Quintana Roo",
                "country": "Mexico",
                "postalcode": "77500",
                "address_string": "Av Nader Edificio Marruecos Mza 3 , Lote 22 SM 2, Cancun 77500 Mexico"
              },
              "wikipedia_info": null,
              "category": {
                "name": "attraction",
                "localized_name": "Attraction"
              },
              "awards": [
                {
                  "award_type": "Certificate of Excellence",
                  "year": "2014",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_small-23924-5.jpg",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_2014_en_US_large-23924-5.jpg"
                  },
                  "categories": [],
                  "display_name": "Certificate of Excellence 2014"
                }
              ],
              "num_reviews": "633",
              "subcategory": [
                {
                  "name": "sightseeing_tours",
                  "localized_name": "Sightseeing Tours"
                },
                {
                  "name": "activities",
                  "localized_name": "Activities"
                }
              ],
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/5.0-23924-5.png",
              "name": "Canada Transfers - Private Tours",
              "ancestors": [
                {
                  "abbrv": null,
                  "level": "Municipality",
                  "name": "Cancun",
                  "location_id": "150807"
                },
                {
                  "abbrv": null,
                  "level": "State",
                  "name": "Quintana Roo",
                  "location_id": "1575485"
                },
                {
                  "abbrv": null,
                  "level": "Region",
                  "name": "Yucatan Peninsula",
                  "location_id": "150805"
                },
                {
                  "abbrv": null,
                  "level": "Country",
                  "name": "Mexico",
                  "location_id": "150768"
                }
              ],
              "longitude": "-86.82389",
              "latitude": "21.1683",
              "rating": "5.0",
              "ranking_data": {
                "geo_location_id": "150807",
                "ranking_string": "#1 of 290 activities in Cancun",
                "geo_location_name": "Cancun",
                "ranking_out_of": "290",
                "ranking": "1"
              }
            },
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g150807-d1894238-m23924-Can_Cook_in_Cancun-Cancun_Yucatan_Peninsula.html",
              "attraction_types": [
                {
                  "localized_name": "Cooking classes",
                  "name": "cooking classes"
                }
              ],
              "web_url": "http://www.tripadvisor.com/Attraction_Review-g150807-d1894238-Reviews-m23924-Can_Cook_[...]
