---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/map/42.33141,-71.099396/attractions?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d3546275-m23924-Diablo_Glass_School-Boston_Massachusetts.html",
              "attraction_types": [
                {
                  "localized_name": "Classes/Workshops",
                  "name": "classes/workshops"
                }
              ],
              "web_url": "http://www.tripadvisor.com/Attraction_Review-g60745-d3546275-Reviews-m23924-Diablo_Glass_School-Boston_Massachusetts.html",
              "percent_recommended": null,
              "location_string": "Boston, Massachusetts",
              "location_id": "3546275",
              "write_review": "http://www.tripadvisor.com/UserReview-g60745-d3546275-m23924-Diablo_Glass_School-Boston_Massachusetts.html",
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/3546275?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "123 Terrace Street",
                "street2": null,
                "city": "Boston",
                "state": "Massachusetts",
                "country": "United States",
                "postalcode": "02120",
                "address_string": "123 Terrace Street, Boston, MA 02120"
              },
              "wikipedia_info": null,
              "distance": ".23",
              "category": {
                "name": "attraction",
                "localized_name": "Attraction"
              },
              "awards": [],
              "subcategory": [
                {
                  "name": "sightseeing_tours",
                  "localized_name": "Sightseeing Tours"
                },
                {
                  "name": "activities",
                  "localized_name": "Activities"
                }
              ],
              "num_reviews": "2",
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-23924-5.png",
              "name": "Diablo Glass School",
              "ancestors": [
                {
                  "abbrv": null,
                  "level": "City",
                  "name": "Boston",
                  "location_id": "60745"
                },
                {
                  "abbrv": "MA",
                  "level": "State",
                  "name": "Massachusetts",
                  "location_id": "28942"
                },
                {
                  "abbrv": null,
                  "level": "Country",
                  "name": "United States",
                  "location_id": "191"
                }
              ],
              "bearing": "south",
              "longitude": "-71.09824",
              "rating": "4.5",
              "latitude": "42.32813",
              "ranking_data": {
                "geo_location_id": "60745",
                "ranking_string": "#142 of 218 activities in Boston",
                "geo_location_name": "Boston",
                "ranking_out_of": "218",
                "ranking": "142"
              }
            },
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d5831233-m23924-The_Squealing_Pig_Boston-Boston_Massachusetts.html",
              "attraction_types": [
                {
                  "localized_name": "Bar/ Clubs",
                  "name": "bar/ clubs"
                }
              ],
              "web_url": "http://www.tripadvisor.com/Attraction_Review-g60745-d5831233-Reviews-m23924-The_Squealing_Pig[...]
