---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/map/42.33141,-71.099396/restaurants?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d4225110-m23924-Chacho_s_Pizza_Subs-Boston_Massachusetts.html",
              "cuisine": [],
              "web_url": "http://www.tripadvisor.com/Restaurant_Review-g60745-d4225110-Reviews-m23924-Chacho_s_Pizza_Subs-Boston_Massachusetts.html",
              "percent_recommended": null,
              "location_string": "Boston, Massachusetts",
              "location_id": "4225110",
              "write_review": "http://www.tripadvisor.com/UserReview-g60745-d4225110-m23924-Chacho_s_Pizza_Subs-Boston_Massachusetts.html",
              "price_level": null,
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/4225110?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "1502 Tremont St",
                "street2": null,
                "city": "Boston",
                "state": "Massachusetts",
                "country": "United States",
                "postalcode": "02120",
                "address_string": "1502 Tremont St, Boston, MA 02120"
              },
              "distance": ".06",
              "category": {
                "name": "restaurant",
                "localized_name": "Restaurant"
              },
              "awards": [],
              "subcategory": [],
              "num_reviews": "0",
              "rating_image_url": null,
              "name": "Chacho's Pizza & Subs",
              "ancestors": [
                {
                  "abbrv": null,
                  "level": "City",
                  "name": "Boston",
                  "location_id": "60745"
                },
                {
                  "abbrv": "MA",
                  "level": "State",
                  "name": "Massachusetts",
                  "location_id": "28942"
                },
                {
                  "abbrv": null,
                  "level": "Country",
                  "name": "United States",
                  "location_id": "191"
                }
              ],
              "bearing": "north",
              "longitude": "-71.09922",
              "rating": null,
              "latitude": "42.33227",
              "ranking_data": null
            },
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d3398229-m23924-Wan_Convenience_Store-Boston_Massachusetts.html",
              "cuisine": [],
              "web_url": "http://www.tripadvisor.com/Restaurant_Review-g60745-d3398229-Reviews-m23924-Wan_Convenience_Store-Boston_Massachusetts.html",
              "percent_recommended": null,
              "location_string": "Boston, Massachusetts",
              "location_id": "33982[...]
