---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/map/42.33141,-71.099396/hotels?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d77638-m23924-The_Inn_at_Longwood_Medical-Boston_Massachusetts.html",
              "web_url": "http://www.tripadvisor.com/Hotel_Review-g60745-d77638-Reviews-m23924-The_Inn_at_Longwood_Medical-Boston_Massachusetts.html",
              "percent_recommended": 76,
              "location_string": "Boston, Massachusetts",
              "location_id": "77638",
              "write_review": "http://www.tripadvisor.com/UserReview-g60745-d77638-m23924-The_Inn_at_Longwood_Medical-Boston_Massachusetts.html",
              "price_level": "$$$",
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/77638?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "342 Longwood Avenue",
                "street2": "",
                "city": "Boston",
                "state": "Massachusetts",
                "country": "United States",
                "postalcode": "02115",
                "address_string": "342 Longwood Avenue, Boston, MA 02115"
              },
              "distance": ".61",
              "category": {
                "name": "hotel",
                "localized_name": "Hotel"
              },
              "awards": [],
              "subcategory": [
                {
                  "name": "hotel",
                  "localized_name": "Hotel"
                }
              ],
              "num_reviews": "656",
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-23924-5.png",
              "name": "The Inn at Longwood Medical",
              "ancestors": [
                {
                  "abbrv": null,
                  "level": "City",
                  "name": "Boston",
                  "location_id": "60745"
                },
                {
                  "abbrv": "MA",
                  "level": "State",
                  "name": "Massachusetts",
                  "location_id": "28942"
                },
                {
                  "abbrv": null,
                  "level": "Country",
                  "name": "United States",
                  "location_id": "191"
                }
              ],
              "bearing": "northwest",
              "longitude": "-71.10668",
              "rating": "4.0",
              "latitude": "42.338406",
              "ranking_data": {
                "geo_location_id": "60745",
                "ranking_string": "#43 of 77 hotels in Boston",
                "geo_location_name": "Boston",
                "ranking_out_of": "77",
                "ranking": "43"
              }
            },
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g60745-d3225572-m23924-EnVision_Hotel_Boston-Boston_Massachusetts.html",
              "web_url": "http://www.tripadvisor.com/Hotel_Review-g60745-d3225572-Reviews-m23924-EnVision_Hotel_Boston-Boston_Massachusetts.html",
              "percent_recommended": 91,
              "location_string": "Boston, Massachusetts",
              "location_id": "3225572",
              "write_review": "http://www.tripadvisor.com/UserReview-g60745-d3225572-m23924-EnVision_Hotel_Boston-Boston_Massachusetts.html",
              "price_level": "$$$",
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/3225572?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "81 South Huntington Ave",
                "street2": null,
                "city": "Boston",
                "state": "Massachusetts",
                "country": "United States",
                "postalcode": "02130",
                "address_string": "81 South Huntington Ave, Boston, MA 02130"
              },
              "distance": ".62",
              "category": {
                "name": "hotel",
                "localized_name": "Hotel"
              },
              "awards": [
                {
                  "award_type": "GreenLeader",
                  "year": "",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/greenleader_small-23924-5.gif",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/greenleaders/GreenLeaders_API_en_large_partner-23924-5.jpg"
                  },
                  "categories": [
                    "GreenPartner"
                  ],
                  "display_name": "GreenLeader Partner"
                },
                {
                  "award_type": "Certificate of Excellence",
                  "year": "2014",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_small-23924-5.jpg",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_2014_en_US_large-23924-5.jpg"
                  },
                  "categories": [],
[...]
