---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/location/2226812,233835,150807/hotels?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g150807-d154868-m23924-Le_Blanc_Spa_Resort-Cancun_Yucatan_Peninsula.html",
              "web_url": "http://www.tripadvisor.com/Hotel_Review-g150807-d154868-Reviews-m23924-Le_Blanc_Spa_Resort-Cancun_Yucatan_Peninsula.html",
              "percent_recommended": 94,
              "location_string": "Cancun, Yucatan Peninsula",
              "location_id": "154868",
              "write_review": "http://www.tripadvisor.com/UserReview-g150807-d154868-m23924-Le_Blanc_Spa_Resort-Cancun_Yucatan_Peninsula.html",
              "price_level": "$$$$",
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/154868?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "Blvd Kukulkan Km.10 - Zona Hotelera",
                "street2": "",
                "city": "Cancun",
                "state": "Quintana Roo",
                "country": "Mexico",
                "postalcode": "77500",
                "address_string": "Blvd Kukulkan Km.10 - Zona Hotelera, Cancun 77500 Mexico"
              },
              "category": {
                "name": "hotel",
                "localized_name": "Hotel"
              },
              "awards": [
                {
                  "award_type": "Traveler's Choice",
                  "year": "2015",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/tchotel_2015_L_R-23924-5.jpg",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/TC_2015_downloadable_L_R-23924-5.jpg"
                  },
                  "categories": [
                    "Luxury",
                    "Best Service",
                    "Romance",
                    "Small Hotels"
                  ],
                  "display_name": "Traveler's Choice"
                },
                {
                  "award_type": "Traveler's Choice",
                  "year": "2014",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/tchotel_2014_L_R-23924-5.png",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/TC_2014_downloadable_L_R-23924-5.jpg"
                  },
                  "categories": [
                    "Hotels"
                  ],
                  "display_name": "Traveler's Choice"
                },
                {
                  "award_type": "Certificate of Excellence",
                  "year": "2014",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_small-23924-5.jpg",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_2014_en_US_large-23924-5.jpg"
                  },
                  "categories": [],
                  "display_name": "Certificate of Excellence 2014"
                }
              ],
              "num_reviews": "3701",
              "subcategory": [
                {
                  "name": "hotel",
                  "localized_name": "Hotel"
                }
              ],
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-23924-5.png",
              "name": "Le Blanc Spa Resort",
              "ancestors": [
                {
                  "abbrv": null,
                  "level": "Municipality",
                  "name": "Cancun",
                  "location_id": "150807"
                },
                {
                  "abbrv": null,
                  "level": "State",
                  "name": "Quintana Roo",
                  "location_id": "1575485"
                },
                {
                  "abbrv": null,
                  "level": "Region",
                  "name": "Yucatan Peninsula",
                  "location_id": "150805"
                },
                {
                  "abbrv": null,
                  "level": "Country",
                  "name": "Mexico",
                  "location_id": "150768"
                }
              ],
              "longitude": "-86.752945",
              "latitude": "21.125984",
              "rating": "4.5",
              "ranking_data": {
                "geo_location_id": "150807",
                "ranking_string": "#1 of 178 hotels in Cancun",
                "geo_location_name": "Cancun",
                "ranking_out_of": "178",
                "ranking": "1"
              }
            },
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g150807-d506374-m23924-Live_Aqua_Cancun_All_Inclusive-Cancun_Yucatan_Peninsula.html",
              "web_url": "http://www.tripadvisor.com/Hotel_Review-g150807-d506374-Reviews-m23924-Live_Aqua_Cancun_All_Inclusive-Cancun_Yucatan_Peninsula.html",
              "percent_recommended": 92,
              "location_string": "Cancun, Yucatan Peninsula",
              "location_id[...]
