---
http_interactions:
- request:
    method: get
    uri: http://api.tripadvisor.com/api/partner/2.0/location/2226812,233835,150807/restaurants?key=<TRIPADVISOR_API_KEY>&lang=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "data": [
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g150807-d1869811-m23924-Peter_s_Restaurante-Cancun_Yucatan_Peninsula.html",
              "cuisine": [
                {
                  "name": "mexican",
                  "localized_name": "Mexican"
                },
                {
                  "name": "international",
                  "localized_name": "International"
                }
              ],
              "web_url": "http://www.tripadvisor.com/Restaurant_Review-g150807-d1869811-Reviews-m23924-Peter_s_Restaurante-Cancun_Yucatan_Peninsula.html",
              "percent_recommended": 94,
              "location_string": "Cancun, Yucatan Peninsula",
              "location_id": "1869811",
              "write_review": "http://www.tripadvisor.com/UserReview-g150807-d1869811-m23924-Peter_s_Restaurante-Cancun_Yucatan_Peninsula.html",
              "price_level": "$$$",
              "api_detail_url": "http://api.tripadvisor.com/api/partner/2.0/location/1869811?key=<TRIPADVISOR_API_KEY>",
              "address_obj": {
                "street1": "Ave. Bonampak",
                "street2": "Between Sierra & Robalo only 200' from Hotel Zone entrance",
                "city": "Cancun",
                "state": "Quintana Roo",
                "country": "Mexico",
                "postalcode": "77500",
                "address_string": "Ave. Bonampak Between Sierra & Robalo only 200' from Hotel Zone entrance, Cancun 77500 Mexico"
              },
              "category": {
                "name": "restaurant",
                "localized_name": "Restaurant"
              },
              "awards": [
                {
                  "award_type": "Certificate of Excellence",
                  "year": "2014",
                  "images": {
                    "small": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_small-23924-5.jpg",
                    "large": "http://www.tripadvisor.com/img/cdsi/img2/awards/CERTIFICATE_OF_EXCELLENCE_2014_en_US_large-23924-5.jpg"
                  },
                  "categories": [],
                  "display_name": "Certificate of Excellence 2014"
                }
              ],
              "num_reviews": "555",
              "subcategory": [
                {
                  "name": "sit_down",
                  "localized_name": "Sit down"
                }
              ],
              "rating_image_url": "http://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-23924-5.png",
              "name": "Peter's Restaurante",
              "ancestors": [
                {
                  "abbrv": null,
                  "level": "Municipality",
                  "name": "Cancun",
                  "location_id": "150807"
                },
                {
                  "abbrv": null,
                  "level": "State",
                  "name": "Quintana Roo",
                  "location_id": "1575485"
                },
                {
                  "abbrv": null,
                  "level": "Region",
                  "name": "Yucatan Peninsula",
                  "location_id": "150805"
                },
                {
                  "abbrv": null,
                  "level": "Country",
                  "name": "Mexico",
                  "location_id": "150768"
                }
              ],
              "longitude": "-86.82142",
              "latitude": "21.157425",
              "rating": "4.5",
              "ranking_data": {
                "geo_location_id": "150807",
                "ranking_string": "#1 of 612 restaurants in Cancun",
                "geo_location_name": "Cancun",
                "ranking_out_of": "512",
                "ranking": "1"
              }
            },
            {
              "see_all_photos": "http://www.tripadvisor.com/LocationPhotos-g150807-d4464070-m23924-Tempo_by_Martin_Berasategui-Cancun_Yucatan_Peninsula.html",
              "cuisine": [
                {
                  "name": "basque",
                  "localized_name": "Basque"
                }
              ],
              "web_url": "http://www.tripadvisor.com/Restaurant_Review-g150807-d4464070-Reviews-m23924-Tempo_by_Martin_Berasategui[...]
